*.jpg
masas_agua
clase_yolo
dataset
rock-paper-scissors.v14i.yolov11
dataset-piedra-papel-tijeras
*.mp4
License-Plate-Recognition-12
*.mp3
.env
*.keras
*.pem
Datos*
*.npy
*.zip
*.pdf
Reviews.csv
superset
01-*
02-*
03-*
data
chroma_db
